<ion-header>
        <ion-navbar>
          <ion-title>
            🎂 Birthdays 🎉
          </ion-title>
          <ion-buttons end>
            <button ion-button (click)="showDetail()">
                <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
<ion-content class="container">
    <div>
        <div class="custom-header">
            <div class="menu-icon"></div>
            <img class="profile-image" src="assets/images/profile.png" />
            <div class="profile-name">
                Jennifer Wilson
            </div>
            <div class="profile-job">
                UI/UX Designer
            </div>
            <div class="header-motif"></div>
        </div>
        <div class="rem-tasks">
            <div class="rem-tasks-number">12</div>
            <div class="rem-tasks-title">remaining tasks</div>
        </div>
        <div class="add-task">
            <div class="add-icon"></div>
        </div>
        <div class="completed-tasks">
            <div class="completed-tasks-number">32</div>
            <div class="completed-tasks-title">completed tasks</div>
        </div>
        <input type="email" class="email"/>
        <input type="password" class="password"/>
        <button class="login-button">
            <span class="login-text">LOGIN</span>
        </button>
        <span class="create-account">CREATE NEW ACCOUNT</span>
    </div>
</ion-content>

<!--

<ion-content class="home" *mobxAutorun>
  <ion-item-group>
    <ion-item-divider color="light">{{ today | date:'fullDate' }}</ion-item-divider>
    <ion-item *ngIf="store.birthdaysToday.length == 0">
      <div>No cake 🎂 today...</div>
    </ion-item>
    <ion-item *ngFor="let birthday of store.birthdaysToday">
      {{ birthday.name }} is {{ birthday.age}} years old today 🎂
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">All Birthdays</ion-item-divider>
    <button ion-item *ngFor="let birthday of store.birthdays" (click)="showDetail(birthday)">
        <div>{{ birthday.name }}</div>
        <div item-end>{{ birthday.date | date:'yMMMMd' }}</div>
    </button>
  </ion-item-group>
</ion-content> -->